body {
    font-family: 'ff-basic-gothic-pro', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background: #555;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 3em;
}

header p {
    font-style: italic;
    margin: 10px 0 0;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    font-size: 2em;
    color: #444;
}

section p {
    font-size: 1.2em;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #555;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
